{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>FEED</title>
  	<link href="{% static 'bible/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
	{% if low_coins %}
		<script> alert("Sorry you have insufficient coins.")</script>
	{% endif %}
	<div id="content-container">
		<div id="left-panel">
		 <div id="personal-details-container">
		   <div class="header-text">
		    BIBLE
		   </div>
		   <div class="subheader-text">
		     {{ request.user.username }}
		     Coins : {{request.user.userprofile.coins}}
		   </div>
		   <a href="{% url 'bible:logout' %}"><small>Sign Out</small></a>
		 </div>
		 <div class="friends-label-text"><h1 class="large padding20">Your friends</h1></div>
		 <div id="friend-list-panel-container">
		   <div class="friend-list-container">
		   		{% for user in users %}
					<div class="friend-name-container">
						<div class="friend-name truncate"> {{ user.username }}</div> 
						<a class="click-button" href="/bible/kick/{{user.id}}"> KICK </a></div>
				{% endfor %}
		  	</div>
		  </div>
		</div>
		<div id="right-panel">
		 <div id="feed-container">
		   <h1>Your daily verses from your Acquaintances!</h1>
		   <div id="verses-list">
				{% for feed in feeds %}
				<div class="verse-post">
		           <div class="verse-sharer"> {{ feed.sender.username }}</div>
		           <div class="verse-text"> {{ feed.verse.content }}</div>
		           <div class="verse-source"> {{ feed.verse.source }}</div>
		     	</div>
				{% endfor %}
		   </div>
		 </div>
		</div>
		</div>
	 </div>
	}
</body>
 </html>
