{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>INDEX</title>

  	<link href="{% static 'bible/css/styles.css' %}" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div id="content-container">
		<div id="left-panel-2">
			<h1> Sign Up </h1>

			<form action="{% url 'bible:signup' %}" method="POST">
				{% csrf_token %}
				<form action="/bible/signup" method="POST">
				<p class='loginformfield'>
					<label for="id_username">Username:</label> 
					<input class='field' type="text" name="username" autofocus required maxlength="150" id="id_username" /> 
					<span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
				</p>
				<p  class='loginformfield'>
					<label for="id_password1">Password:</label> 
					<input class='field' type="password" name="password1" required id="id_password1" />
					 <div class="helptext">
					 	<ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul>
					 </div>
				</p>
				<p  class='loginformfield'>
					<label for="id_password2">Password confirmation:</label>
					 <input class='field' type="password" name="password2" required id="id_password2" /> 
					 <div class="helptext">Enter the same password as before, for verification.
					 </div>
				</p  class='loginformfield'>
				<input type='hidden' name='csrfmiddlewaretoken' value='SoaGtBdvVLXXGjZMSiVgGNquyPJoT33f762XmKt8qQkjmkuIF4eisfSjmxxtbRTv' />
				<div class="form-group">
			      <button class="click-button alignselfcenter margintop30" type="submit" >Sign Up</button>
			    </div>
			</form>
		</div>
		<div id="right-panel-2">

			<h1> Log In </h1>
			<div class="error_message">
				{% if error_message %}
					{{error_message}}
				{% endif%}
			</div>
			<form action="{% url 'bible:login' %}" method="POST">
			    {% csrf_token %}
			    <div class="form-group loginformfield">
			      <label for="username">Username</label>
			      <input class='field' type="text" id="username" name="username" required="required"/>
			    </div>
			    <div class="form-group loginformfield">
			      <label for="password">Password</label>
			      <input class='field' type="password" id="password1" name="password1" required="required"/>
			    </div>
				<div class="form-group loginformfield">
				  <button class="click-button alignselfcenter margintop30" type="submit"" >Log In</button>
				</div>
			</form>
		</div>
	</div>

	{% if error_message %}
		{{error_message}}
	{% endif%}
	
</body>
</html>



