{% load static %}

<html>
<head><link href="{% static 'bible/css/styles.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class='center-panel max-width-800'>
		<form action="/bible/send/{{receiver.id}}" method = "POST">
			{% csrf_token %}
			<h1> This verse is for {{ receiver.username}}</h1>
			<!-- I know inline styles are not advisable i'm sorry huhuhu -->
		<select class = "selectpicker" style="font-size: 1.2em; width: 70%" name="verse">
				{% for verse in verses %}
				<option style="font-size: 1.2em; width: inherit" value="{{verse.pk}}">{{verse.content}}</option>
				{% endfor %}
			</select>
			<div class="form-group">
		      <button class="click-button margintop30" type="submit"" >Kick</button>
		    </div>
		</form>
	</div>
</body>
</html>

