/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed');

body, body * {
  margin: 0;
  padding: 0;
  border: 0;
}

small, small:visited{
  color: #eeeeee;
  text-decoration: none;
}

* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

.large{
  font-size: large !important;
}

.padding20{
  padding: 20px 0;
}

#content-container{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: linear-gradient(#bddffc, #e9f4fe);
  height: 100%;
}

#left-panel{
  display: flex;
  flex-direction: column;
  width: 28%;
  height: 100%;
  max-width: 300px;
}

    #personal-details-container{
      padding: 20px;
      background-color: #124a7b;
      color: white;
    }

    #friend-list-panel-container{
      overflow-y: scroll;
      padding: 0px 20px;
      background-color: white;
      z-index: 0;
      flex: 1 1 auto;
    }

    .header-text{
      font-size: larger;
      font-weight: 600;
      font-size: 1.5em;
    }

    .subheader-text{
      font-size: 1em;
    }

    .friends-label-text{
      padding: 0 20px;
      font-size: 1.2em;
      background-color: white;
      width: auto;
    }

    .friend-list-container{
    }

    .friend-name-container{
      display:flex;
      justify-content: space-between;
      align-items: center;
    }

    .friend-name{
      margin: 10px 0px;
    }

    .click-button{
      padding: 10px 20px;
      text-decoration: none;
      color: darkblue;
      background: white;
      margin-left: 30px;
      padding: 6px;
      border-radius: 5px;
      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
      transition: 0.11s;
      transition-timing-function: ease-out;
    }

    .click-button:hover{
      background: linear-gradient(to bottom right, #2595f7, #56adf9);
      color: white;
      transition: 0.1s;
      transition-timing-function: ease-out;
      box-shadow: 0 4px 3px -1px rgba(0,0,0,0.4);
      transform: translateY(-2px);
    }

    .click-button:active{
      background: #2595f7;
      color: white;
      transition: 0.1s;
      transition-timing-function: ease-out;
      box-shadow: 0 2px 2px -1px rgba(0,0,0,0.2);
      transform: translateY(-1px);
    }

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



#right-panel{
  overflow-y: scroll;
  scroll-behaviour: smooth;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  padding: 30px 80px;
}

    #feed-container{
      max-width: 1200px;
    }

    .verse-post{
      display: flex;
      flex-direction: column;
      width: inherit;
      margin: 40px 0px;
      padding: 30px;


      background-color: white;
      border-radius: 20px;
      box-shadow: 0 25px 40px -20px rgba(0,0,0,0.2);

      transition: 0.5s;
      transition-timing-function: ease-out;
    }

    .verse-post:hover{
      transition: 0.1s;
      transition-timing-function: ease-out;
      box-shadow: 0 35px 50px -10px rgba(0,0,0,0.2);
      transform: translateY(-3px);
    }

    #verses-list{
      margin-top: 30px;
    }

    .verse-sharer{
      font-weight: 600;
      font-size: large;
      padding: 8px 0;
    }

    .verse-source{
      text-align: right;
      font-style: italic;
      padding: 5px 0;
    }

#left-panel-2{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 30px;
  align-items: flex-start;
}

#right-panel-2{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 30px;
  align-items: flex-start;
}





.loginformfield{
  padding: 20px;
}

.field{
  padding: 10px;
  border-radius: 5px;
}

.helptext, .helptext *, li{
  color: grey;
  font-size: small;
}

.alignselfcenter{
  margin: auto;
}

.margintop30{
  margin-top: 30px;
}

.error_message{
  color: rgb(255,0,50);
  font-size: small;
}


.center-panel{
  width: 100%;
  padding: 10px 300px;
}

.max-width-800{
  max-width: ;
}